<% if wish.favorited_by?(current_user)%>
    <div class='mt5'><%=link_to "解除", wish_favorites_path(wish.id), class:'btn btn-danger favoriteButton', method: :delete, remote: true %></div>
<% else%>
    <div class='mt5'><%=link_to "気になる", wish_favorites_path(wish.id),class:'btn btn-info favoriteButton', method: :post, remote: true %></div>
<%end%>