<% content_for(:html_title) { 'Wish | フォロー一覧' } %>
<div class='backLink'>
  <%= link_to '戻る', mypage_path(current_user.id), class:"nav-link"%>
</div>

<h1 class='mt5'>フォロー一覧</h1>
<% @users.each do |user|%>
    <% if current_user.id != user.id %>
        <%= render partial: 'users/user', locals:{user: user} %>
    <% end %>
<% end%>
<% if @users.count == 0%>
   <h5 class='textCenter mt10'> フォローしているユーザーはいません　</h5>
<% end%>