<h1>Mypages#show</h1>
<%= link_to 'プロフィール編集', edit_mypage_path(@user), class:'btn btn-warning'%>
<%= link_to '新規登録', new_wish_path, class:'btn btn-primary'%>
<%= link_to 'みんなのwishへ', wishes_path, class:'nav-link'%>
<div>
    <% @wishes.each do |wish| %>
        <p><%= link_to "#{wish.title}", wish_path(wish.id) %></p>
    <%end%>
</div>