@import "bootstrap";

@import "layouts/navbar";

.top-image {
  background-size: cover;
  width: 100%;
  height: 770px;
  position: relative;
}
.topTitle {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 40%;
  left: 20%;
  letter-spacing: 4px;
  color: white;
}

.subTitle {
  position: absolute;
  top: 48%;
  left: 22%;
  letter-spacing: 2px;
  color: white;
}

.titleLinkLeft {
  position: absolute;
  top: 5%;
  left: 84%;
}

.titleLinkRight {
  position: absolute;
  top: 5%;
  left: 93%;
}

.profImg {
  width: 200px !important;
  height: 200px !important;
}

.thumbnailImg {
  width: 40px !important;
  height: auto !important;
}
